* {
  /* removing browser margins and paddings  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbarParent {
  display: flex;
  background: #54bab9;
  color: white;
  padding: 10px 30px;
  /* justify-content: center; */
}
#navItemsParent {
  display: flex;
  /* background: yellowgreen; */
  flex-grow: 1;
  align-items: center;
}
#logoDiv {
  padding: 3px;
}
#logo {
  padding: 10px 20px;
  font-size: 25px;
}
#deadspace {
  flex-grow: 1;
}
.navChild {
  flex-grow: 1;
}
#cta {
  padding: 3px;
}
#ctabtn {
  color: white;
  background: #6867ac;
  border-radius: 10px;
  border-solid: 10px;
  padding: 5px 10px;
}
.heroleft {
  position: absolute;
  z-index: -10;

  left: 0%;
  /* tranform: translateY(50%); */
}
.herosection {
  background-image: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* height: 30vh; */
}
.herocontent1 {
  display: flex;
  gap: 15px;
}
#rightimage {
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.bannerimg {
  flex: 1;
}
/* #searchimg {
  width: 500px;
  margin-right: 100px;
} */
.serviceheading {
  text-align: center;
  margin: 10;
}
.serviceheading h1 {
  color: #54bab9;
}
#clients {
  color: #54bab9;
}
#offer {
  color: #54bab9;
}
.servicecards {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.servicecard1 {
  display: flex;
  height: 300px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 20px 10px;
  flex: 1;
  min-width: 300px;
}
.servicecontent1 {
  padding: 10px;
}
#icon1 {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 40px;
}
.herocontent {
  display: flex;

  flex-direction: column;
  flex: 1;
}
.seo,
.seo2 {
  font-size: 25px;
  padding: 0px 10px;
  color: #ffad60;
}

.quotebtn {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background: #54bab9;
  color: white;
}
..quotebtndiv {
}
.centerdiv {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
