* {
  /* removing browser margins and paddings  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbarParent {
  display: flex;
  background: #54bab9;
  color: white;
  padding: 10px 30px;
  /* justify-content: center; */
}
#navItemsParent {
  display: flex;
  /* background: yellowgreen; */
  flex-grow: 1;
  align-items: center;
}
#logoDiv {
  padding: 3px;
}
#logo {
  padding: 10px 20px;
  font-size: 25px;
}
#deadspace {
  flex-grow: 1;
}
.navChild {
  flex-grow: 1;
}
#cta {
  padding: 3px;
}
#ctabtn {
  color: white;
  background: #6867ac;
  border-radius: 10px;
  border-solid: 10px;
  padding: 5px 10px;
}
.herosection {
  background-image: cover;
  display: flex;
  width: 100vw;
  /* height: 30vh; */
}
#rightimage {
  background-image: cover;
  background-size: 100%;
  margin-left: 70px;
  position: relative;
}
.bannerimg {
  position: absolute;
  top: 80px;
  right: 5px;
}
#searchimg {
  width: 500px;
  margin-right: 100px;
}
.serviceheading {
  text-align: center;
  margin: 10;
}
.serviceheading h1 {
  color: #54bab9;
}
#clients {
  color: #54bab9;
}
#offer {
  color: #54bab9;
}
.servicecards {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.servicecard1 {
  display: flex;
  height: 300px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 20px 10px;
}
.servicecontent1 {
  padding: 10px 50px;
}
#icon1 {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 40px;
}
